body {
   background-image: url(ColoradoTrail2.jpg);
   background-position: center;
   background-size: cover;
}

h1 {
   text-align: center;
   font-size: 50px;
   font-family: 'Press Start 2P', cursive;
}

.playBox {
   border-style: solid;
   border-width: thick;
   background-color: rgba(0, 40, 104, 0.7);
   padding: 10px;
   margin: 100px 100px 100px 100px;
   display: flex;
   justify-content: center;
  
}

p {
   background-color: rgba(191, 10, 48, 0.5);
   font-size: 25px;
   font-family: 'Roboto Mono', monospace;
   margin: 10px;
   padding: 10px;
   color: white;

}

#wText {
   padding: 10px;
}

#startScreen {
   display: none;
}

#soloSituation {
   display: none;
}

#soloOption1 {
   display: none;
}

#soloOption2 {
   display: none;
}

#friendsSituation {
   display: none;
}

#friendsOption1 {
   display: none;
}

#friendsOption2 {
   display: none;
}

#notReadySituation {
   display: none;
}

button {
   padding: 10px;
   margin: 10px;
   background-color: rgba(255, 215, 0, 0.5);
   font-size: 18px;
   color: white;
}

.buttonHolder {
   display: flex;
   justify-content: center;
   margin-top: 100px;
   flex-direction: row;
}

audio {
   margin-top: 70px;
}