body {
   background-image: url(ColoradoTrail2.jpg);
   background-position: center;
   background-size: cover;
}

h1 {
   text-align: center;
   font-size: 50px
}

.playBox {
   border-style: solid;
   border-width: thick;
   background-color: rgb(123, 104, 238, .7);
   padding: 10px;
   margin: 100px 100px 100px 100px;
   display: grid;
   grid-template-areas: "a a a"
                        ". b .";
   grid-template-rows: repeat (2, 100px);
}

p {
   background-color: rgb(237, 237, 237);
   font-size: 20px;
   margin: 10px;
   grid-area: "b";
   justify-self: center;

}

#wText {
   padding: 10px;
}

#startScreen {
   display: none;
}

#soloSituation {
   display: none;
}

#soloOption1 {
   display: none;
}

#soloOption2 {
   display: none;
}

#friendsSituation {
   display: none;
}

#friendsOption1 {
   display: none;
}

#friendsOption2 {
   display: none;
}

#notReadySituation {
   display: none;
}

button {
   padding: 10px;
   margin: 10px;

   /* display: flex;
   flex-direction: column;
   align-self: center; */
}