body {
   background-image: url(ColoradoTrail2.jpg);
   background-position: center;
   background-size: cover;
}

h1 {
   text-align: center;
   font-size: 50px
}

.playBox {
   border-style: solid;
   border-width: thick;
   background-color: rgb(123, 104, 238, .7);
   padding: 10px;
   margin: 100px 100px 100px 100px;
   display: flex;
   justify-content: center;
  
}

p {
   background-color: rgb(237, 237, 237, .5);
   font-size: 20px;
   margin: 10px;
   padding: 10px;

}

#wText {
   padding: 10px;
}

#startScreen {
   display: none;
}

#soloSituation {
   display: none;
}

#soloOption1 {
   display: none;
}

#soloOption2 {
   display: none;
}

#friendsSituation {
   display: none;
}

#friendsOption1 {
   display: none;
}

#friendsOption2 {
   display: none;
}

#notReadySituation {
   display: none;
}

button {
   padding: 10px;
   margin: 10px;
   background-color: rgb(237, 237, 237, .5);
   font-size: 18px;
}

.buttonHolder {
   display: flex;
   justify-content: center;
   margin-top: 100px;
   flex-direction: row;
}

audio {
   margin-top: 90px;
}